@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/**
 * Reset css.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #F5F3EF;
    font-family: Inter , sans-serif;


}

/* Remove puce */
header ul {
    list-style: none;
}

/* Remove line on the a */
header ul li a {
    text-decoration: none;
    color: black;
}



/* Premier menu */
.nav-menu .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-menu .menu li {
    display: flex;
    padding: 10px 20px;
}

/* Deuxième menu */
.nav-account .menu-account{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-account .menu-account li {
    display: flex;
    padding: 10px 20px;
}


/*Footer */

footer{
    background-color: white;
    min-height: 61px;
}

/* Remove puce */
footer ul{
    list-style: none;
}

/* Remove line on the a */
footer ul li a {
    text-decoration: none;
    color: black;
}

.nav-footer .menu-footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.nav-footer .menu-footer ul li {
    padding: 10px 20px;
    font-size: 12px;
}

.nav-footer{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;

}

.menu-footer{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.logo-footer{
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
}



/* Page accueil */

.section-one{
    min-height: 702px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F3EF;
}

.container-left h1{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 15px;
}

.container-left{
    width: 319px;
    align-items: center;
    margin: 120px;
}

.container-left p {
    font-size: 16px;
    font-family: Inter , sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
}

.container-left .btn-container{
    font-family: Inter , sans-serif;
    display: flex;
    width: 152px;
    height: 63px;
    align-items: center;
    justify-content: center;
    background-color: #00AC66;
    border-radius: 10px;
}

.btn-container a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}


/* Conteneur de droite */

.container-right{
    display: flex;
}

.container-right figcaption{
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 12px;
    color: #707070;
    padding: 5px;
}



/* Deuxième section */

.section-two{
    min-height: 702px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FAF9F7;
}
.section-two h2{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 80px;
}

.section-two .container-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}

/* Cards */

.card-container{
    width: 200px;
    height: 324px;
}

.card-image{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-info{
    background-color: #FFFFFF;
    font-family: Inter , sans-serif;
    border-radius: 0px 0px 12px 12px;
}

.card-info h3 {
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.card-info p {
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    color: #A6A6A6;
    padding-bottom: 20px;
}

.card-vendor p{
    font-size: 10px;
    font-style: italic;
}


/*Bouton*/

.section-two .btn-more-book{
    background-color: #00AC66;
    width: 218px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 0;
}

.section-two .btn-more-book a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}



/*Troisième section*/

.section-three{
    min-height: 702px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F3EF;
}

.section-three .container-center{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 50%;
}

.section-three .container-center .first-box , .second-box , .third-box, .fourth-box{
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 215px;
    height: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.section-three .container-center .first-box p , .second-box p , .third-box p , .fourth-box p{
    width: 180px;
    height: 51px;
    display: flex;
    text-align: center;

}